/* El CSS siguiente esta pensando primero para moviles y luego para Escritiorio */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Global */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

body {
    width: 100%;
    height: 100%;
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

p{
    font-size: 0.7em;
    padding: 2rem;
    line-height: 25px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
}

.header>a{
    margin-left: 5em;
}

.header>nav{
    margin-right: 5em;
}

.src-only {
    display: none;
}

.logo {
    width: 90px;
    margin: 1em;
}

/* Navegation Bar */
.hide-mobile {
    display: none;
}

.menu a:hover{
    color: #F74442;
}

.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.options i:last-child {
    font-size: 1.6rem;
}

/* Menu */
.menu{
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu{
    list-style: none;
    text-align: left;
    padding: 1em;
}

.menu li{
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a{
    color: white;
    text-decoration: none;
}

/* Big Area */
.big-hero{
    margin: 7em 0;
}

.big-hero img {
    width: 150px;
}

.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p {
    font-size: 0.9em;;
    color: #D7DEE6;
}

/* Iconos */
i.fab{
    font-size: calc(1.8em + 1vh);
    display: flex;
    justify-content: space-around;
}

.fas.fa-arrow-circle-down{
    font-size: calc(2.6em + 1vh);
    color: #0AC693
}

a.hide-mobile{
    padding-bottom: 5em;
}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}

.social-links li a i{
    padding-right: 0.3em;
    padding-left: 0.3em;
}

/* Green Area */
.green-area{
    width: 100%;
    background-color: #0AC693;
}

/* Posts */
.post{
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
    width: 100%;
}

.post ul{
    list-style: none;
}

.post ul li{
    min-height: 300px;
    max-width: 350px;
}

.post ul li article{
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
    height: 90%;
    margin: 10% 5%;
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3{
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p{
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */
.about.container{
    margin: 0 0;
}

.about .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about h2{
    width: 100%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    justify-content: center;
}

/* Bio Info */
.bio-info{
    width: 50%;
    justify-content: flex-start;
}

.bio-info img{
    margin-top: 4em;
    width: 200px;
}

.bio-info p{
    font-size: 0.9em;
    padding: 1em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
    margin: 10%;
}

/* Contacto */
.contact{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
}

.contact * + *{
    margin-top: 1.5em;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form label{
    font-size: 1em;
}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 0.9em;
}

/* Decorando placeholder */
::-webkit-input-placeholde{ 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit]{
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1em;
    width: 50%;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

/* Footer */
footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

footer .social-links{
    margin: 0;
    padding-top: 2em;
}

/* Pesonalizando estilo para tablets y celulares */
@media only screen and (min-width: 414px){

    /* Header */
    .header>nav {
        margin-right: 0;
    }

    .header>a {
        margin-left: 0;
    }

    /* Big Area */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 414px; 
    }

    /* Bio Info */
    .bio-info p{
        margin: 5% 10%;
    }

    .container .bio-info{
        width: 100%;
    }

    /* Contacto */
    .contact{
        margin: 10%;
        margin-top: 0;
    }

    .contact-form input[type=submit]{
        width: 70%;
    }

    .container .contact{
        width: 100%;
    }
}

@media only screen and (min-width: 768px){

    /* Header */
    .header>a{
        margin-left: 0;
    }

    .show-desktop{
        display: block;
    }

    .hide-desktop{
        display: none;
    }

    .logo{
        width: 10em;
        margin: 1.5em;
    }

    /* Menu */
    .menu{
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height: auto;
        display: flex;
        margin-top: 1em;
    }

    /* Posts */
    .post ul{
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .post ul li{
        min-height: 350px;
        max-height: 3500px;
        flex: 1 0 300px;
    }

    /* Big Area */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 768px; 
    }

    /* Bio Info */
    .bio-info p{
        margin: 5% 10%;
    }

    .container .bio-info{
        width: 100%;
    }

    /* Contacto */
    .contact{
        margin: 5% 10%;
        margin-top: 0;
    }

    .container .contact{
        width: 100%;
    }

    .contact-form input[type=submit]{
        width: 70%;
    }
} 

@media only screen and (min-width: 1024px){

    /* Header */
    .header>nav {
        margin-right: 0;
    }

    /* Big Area */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 1024px; 
    }

    /* Bio Info */
    .container .bio-info{
        width: 50%;
    }

    .bio-info p{
        margin: 10%;
    }

    /* Contacto */
    .contact{
        margin: 5% 10%;
    }

    .container .contact{
        width: 30%;
    }

    .contact-form input[type=submit]{
        width: 50%;
    }
}

@media only screen and (min-width: 1440px){

    /* Header */
    .header>nav {
        margin-right: 0;
    }

    /* Big Area */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 1440px; 
    }

    /* Bio Info */
    .container .bio-info{
        width: 50%;
    }

    .bio-info p{
        margin: 10%;
    }

    /* Contacto */
    .contact{
        margin: 5% 10%;
    }

    .container .contact{
        width: 30%;
    }

    .contact-form input[type=submit]{
        width: 50%;
    }
}