/* El CSS siguiente esta pensando primero para moviles y luego para Escritiorio */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/********** GLOBAL **********/

/* Personalización general */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* Personalización general del cuerpo de la página */
body {
    width: 100%;
    height: 100%;
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

/* Personalización general de párrafos */
p{
    font-size: 0.7em;
    padding: 2rem;
    line-height: 25px;
}

/********** HEADER **********/

.header {
    display: flex;
    justify-content: space-between;
}

/* Margen para el logo */
.header>a{
    margin-left: 5em;
}

/* Margen para la barra de navegación */
.header>nav{
    margin-right: 5em;
}

/* Personalización del logo */
.src-only {
    display: none;
}

.logo {
    width: 90px;
    margin: 1em;
}

/********** NAVEGATION BAR **********/

/* Personalización del menú */
.hide-mobile {
    display: none;
}

/* Hover del menú */
.menu a:hover{
    color: #F74442;
}

/* Personalización del estilo del menú */
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;
    /* Posicionamiento del menú*/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.options i:last-child {
    font-size: 1.6rem;
}

/* Estilo del menú */
.menu{
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu{
    list-style: none;
    text-align: left;
    padding: 1em;
}

/* Personalización de los elementos del menú */
.menu li{
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a{
    color: white;
    text-decoration: none;
}

/********** BIG AREA **********/

/* Personalización general de la sección big-hero */ 
.big-hero{
    margin: 7em 0;
}

/* Estilo de las imágenes de la sección big-hero */
.big-hero img {
    width: 150px;
}

/* Estilo de los h2 de la sección big-hero */
.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

/* Estilo de los párrafos de la sección big-hero */
.big-hero p {
    font-size: 0.9em;;
    color: #D7DEE6;
}

/********** SOCIAL LINKS **********/

/* Personalización de íconos */
i.fab{
    font-size: calc(1.8em + 1vh);
    display: flex;
    justify-content: space-around;
}

a.hide-mobile{
    padding-bottom: 5em;
}

/* Personalización de flecha */
.fas.fa-arrow-circle-down{
    font-size: calc(2.6em + 1vh);
    color: #0AC693
}

.social-links li a i{
    padding-right: 0.3em;
    padding-left: 0.3em;
}

/* Personalización general de social links */
.social-links{
    list-style: none;
    padding: 0;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}

/********** GREEN AREA **********/

/* Personalización general del green area */
.green-area{
    width: 100%;
    background-color: #0AC693;
}

/********** POSTS **********/

/* Personalización general de los posts */
.post{
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Personalización del h2 de los posts */
.post h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
    width: 100%;
}

.post ul{
    list-style: none;
}

/* Personalización del los elementos de los posts */
.post ul li{
    min-height: 300px;
    max-width: 350px;
}

/* Personalización de los artículos */
.post ul li article{
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
    height: 90%;
    margin: 10% 5%;
}

/* Personalización de las imágenes de los posts */
.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/* Personalización del h3 de los posts */
.post article h3{
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Personalización de los párrafos de los posts */
.post article p{
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/********** ABOUT **********/

/* Personalización general */
.about.container{
    margin: 0 0;
}

.about .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Personalización de los h2 */ 
.about h2{
    width: 100%;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    justify-content: center;
}

/********** BIO INFO **********/

/* Personalización general */
.bio-info{
    width: 50%;
    justify-content: flex-start;
}

/* Personalización de imágenes */
.bio-info img{
    margin-top: 4em;
    width: 200px;
}

/* Personalización de párrafos */
.bio-info p{
    font-size: 0.9em;
    padding: 1em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
    margin: 10%;
}

/********** CONTACT **********/

/* Personalización general */
.contact{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
}

.contact * + *{
    margin-top: 1.5em;
}

 /* Personalización de formulario */
.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form label{
    font-size: 1em;
}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 0.9em;
}

/* Decorando placeholder */
::-webkit-input-placeholde{ 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

/* Personalización de botón contactar */
.contact-form input[type=submit]{
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1em;
    width: 50%;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

/********** FOOTER **********/

/* Personalización general */
footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

/* Personalización de íconos inferiores */
footer .social-links{
    margin: 0;
    padding-top: 2em;
}

/********** PERSONALIZACIÓN DE ESTILO PARA MÓVILES **********/

/********** iPhone 6/7/8 Plus **********/
@media only screen and (min-width: 414px){

    /********** HEADER **********/
    
    /* Margen para el logo */
    .header>nav {
        margin-right: 0;
    }

    /* Margen para la barra de navegación */
    .header>a {
        margin-left: 0;
    }

    /********** BIG AREA **********/
    
    /* Personalización general */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 414px; 
    }

    /********** BIO INFO **********/

    /* Personalización general */
    .container .bio-info{
        width: 100%;
    }

    /* Personalización de párrafos */
    .bio-info p{
        margin: 5% 10%;
    }

    /********** CONTACT **********/
    
    /* Personalización general */
    .contact{
        margin: 10%;
        margin-top: 0;
    }

    .container .contact{
        width: 100%;
    }

    /* Personalización de botón */
    .contact-form input[type=submit]{
        width: 70%;
    }
}

/********** Tablet **********/
@media only screen and (min-width: 768px){

    /********** HEADER **********/
    
    /* Margen para el logo */
    .header>a{
        margin-left: 0;
    }

    /* Estilo de menú (muestra esconde el menú en móviles) */
    .show-desktop{
        display: block;
    }

    .hide-desktop{
        display: none;
    }

    /* Personalización del logo */
    .logo{
        width: 10em;
        margin: 1.5em;
    }

    /********** MENÚ **********/
    
    /* Personalización general */
    .menu{
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height: auto;
        display: flex;
        margin-top: 1em;
    }

    /********** POSTS **********/
    
    /* Personalización general */
    .post ul{
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    /* Personalización del los elementos de los posts */
    .post ul li{
        min-height: 350px;
        max-height: 3500px;
        flex: 1 0 300px;
    }

    /********** BIG AREA **********/
    
    /* Personalización general */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 768px; 
    }

    /********** BIO INFO **********/
    
    /* Personalización general */
    .container .bio-info{
        width: 100%;
    }

    /* Personalización de párrafos */
    .bio-info p{
        margin: 5% 10%;
    }

    /********** CONTACT **********/
    
    /* Personalización general */
    .contact{
        margin: 5% 10%;
        margin-top: 0;
    }

    .container .contact{
        width: 100%;
    }

    /* Personalización de botón */
    .contact-form input[type=submit]{
        width: 70%;
    }
} 

/********** Laptop **********/
@media only screen and (min-width: 1024px){

    /********** HEADER **********/
    
    /* Margen para el logo */
    .header>nav {
        margin-right: 0;
    }

    /********** BIG AREA **********/
    
    /* Personalización general */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 1024px; 
    }

    /********** BIO INFO **********/
    
    /* Personalización general */
    .container .bio-info{
        width: 50%;
    }

    /* Personalización de párrafos */
    .bio-info p{
        margin: 10%;
    }

    /********** CONTACT **********/
   
    /* Personalización general */
    .contact{
        margin: 5% 10%;
    }

    .container .contact{
        width: 30%;
    }

    /* Personalización de botón */
    .contact-form input[type=submit]{
        width: 50%;
    }
}

/********** Laptop L **********/
@media only screen and (min-width: 1440px){

    /********** HEADER **********/
    
    /* Margen para el logo */
    .header>nav {
        margin-right: 0;
    }

    /********** BIG AREA **********/
    
    /* Personalización general */
    .container{
        width: 80%;
        margin: 0 auto;
        max-width: 1440px; 
    }

    /********** BIO INFO **********/

    /* Personalización general */
    .container .bio-info{
        width: 50%;
    }

    /* Personalización de párrafos */
    .bio-info p{
        margin: 10%;
    }

    /********** CONTACT **********/
    
    /* Personalización general */
    .contact{
        margin: 5% 10%;
    }

    .container .contact{
        width: 30%;
    }

    /* Personalización de botón */
    .contact-form input[type=submit]{
        width: 50%;
    }
}